.navbar-brand{
	padding:5px 15px;
}
.navbar-inverse {
    background-color: #494ca2;
    border-color: #494ca2;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #8186d5;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
    background-color: #8186d5
}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
    border-color: #fff
}

.navbar{
	margin-bottom:0;
	margin-top: 0px;
}

.jumbotron{
	background-color:#e3e7f1;
	padding:5px 0;
	margin-bottom:0;
	padding-top: 50px;
}


.banner_title{
	font-size:32px;
	color:#444;
}

.jumbotron .banner_detail{
	font-size:16px;
	color:#333;
	line-height:28px;
}


.active_title{
	margin-top:30px;
	font-size:30px;
	color:#333;
}

.active_detail{
	font-size:14px;
	color:#333;
	line-height:21px;
	margin-top:20px;
}

.logo-pic{
	margin-top:0px;
}


.banner_detail a{
	text-decoration:none
}

.subarea{
	background-color:#c6cbef;
	margin-top: 50px;
}

.common_title{
	margin:0;
	height:40px;
}

.common_title h3{
	font-size:16px;
	color:#494ca2;
	line-height:40px;
	margin:0;
	/* text-indent:10px; */
	font-weight:bold;
}

.common_title a{
	font-size:12px;
	color:#fff;
	margin:20px 10px 0 0;
}



#email{
	width:111px;
	height:20px;
}










.footer{
	background-color:#494ca2;
	padding-bottom:0;
}

.footer p{
	text-align:center;
	margin:10px 0;
	color:#fff;
	/* padding-top: ; */
	font-size: 18px;
}



/* 
#img-logo{
	height = 10px
} */

.swiper-container{
	width: 100%;
	height: 100%;
}
.swiper-slide{
	background-position: center;
	background-size: cover;
}

#me{
	margin-top: 5px;
}

/* @media (max-width:500px){
	#me{
		display: none;
	}

} */


.infos h4, h4{
	font-weight:bold!important;
}
h4{
    font-weight:bold;
}

.infos{
	margin-top: 10px;
}

#misc_items li{
	margin-bottom: 10px;
}

@media (min-width:768px){
	.banner_title{
		margin-top: 60px;
	}
}


#photos h3{
	line-height: 60px;
	text-align: center;
}

#photos{
	height: 60px;
}

#photocap p{
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
}

/* #photocap .photocon{
	margin: 0 5px 0;
} */

@media (min-width: 768px){

	.jumbotron, .navbar-static-top, body{
		width: 750px;
		margin-left: auto;
		margin-right:auto;
	}
}

@media (min-width: 992px){
	.jumbotron, .navbar-static-top, body{
		width: 970px;
		margin-left: auto;
		margin-right:auto;
	}
	
	#photocap .photocon{
		max-width: 750px;
		margin: 0 auto;
	}
	
}

@media (min-width: 1200px){
	.jumbotron, .navbar-static-top, body{
		width: 1170px;
		margin-left: auto;
		margin-right:auto;
	}
}



.navbar-static-top{
	position: fixed;
	margin:0 auto;
	display: block;
}

@media (max-width: 768px){

	.navbar-static-top{
		width: 100%;
		margin-left: auto;
		margin-right:auto;
	}
}